<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
	
    <!-- Utility connect string key -->
  <add key="UtilityConnectionString" value="data source=XXXXX;initial catalog=XXXX;uid=XXXXXX;password=XXXXXXXXXX;persist security info=True;packet size=4096"/>
    <!-- 
    Sleep time (in seconds) to wait between DB reads
    -->
    <add key="DBSleep" value="2"/>
    <!-- 
    NodeID this instance is processing - should be the opposite node than the webserver PM node
    -->
    <add key="NodeID" value="Node2"/>
  
  <!-- 
  translate table filepath - 
  should be lowercase
  -->
  <add key="Pemfiles" value=""/>
  <add key="Images" value=""/>
  <add key="Pemfiles2" value=""/>
  <add key="Images2" value=""/>
  
    </appSettings>
    
</configuration>
